html, body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    position: absolute;
    z-index: 0;
}

.game-name {
    position: absolute;
    top: 10vh;
    left: 40vw;
    color: aliceblue;
    font-weight: bold;
    font-size: 20pt;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

div.gui {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    opacity: 1.0;
}


.column-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


div.gui div.left-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background: rgba(255, 255, 255, 0.01);
    width: 20vw;
    min-width: 160px;
    height: 100vh;
    float: left;
}

div.gui div.right-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background: rgba(255, 255, 255, 0.01);
    width: 20vw;
    min-width: 160px;
    height: 100vh;
    float: right;
}

div.gui div.middle-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    width: 80vw;
    min-width: 480px;
    height: 100vh;

}

div.control-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    align-self: center;
    align-content: center;

    background: rgba(100, 100, 100, 0.2);
    min-height: 100px;
    width: 90%;
    border-radius: 10px;
    border-color: rgba(210,200,200,0.3);
    border-width: 2px;
    border-style: solid;
    color: aliceblue;
}

div.control-block p {
    color: aliceblue;
}
